{% extends 'base.html' %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <h1> Mynia Cairo </h1>
    </div>
    <div class='col-6'>
      <h1>  Cairo  Mynia</h1>
    </div>

    <div class='col-12'>
        <br> <br>
      <button type="button" class="btn btn-primary btn-lg">Create Journey</button>
        <br> <br>
    </div>
    <br> <br>
    <div class='col-12'>
      <button type="button" class="btn btn-secondary btn-lg"> Ask for Journey </button>
    </div>
  </div>

</div>
{% endblock %}
